extends ../layout/index 
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet felis laoreet, porttitor mi sed, elementum nulla. Nullam feugiat lacus id ex fermentum lobortis. Integer nisi nunc, condimentum sit amet condimentum nec, auctor in justo. Curabitur ac commodo erat
                p hasellus sagittis elit urna, nec molestie diam tempus eu. Morbi eros mi, imperdiet elementum placerat non, sollicitudin sit amet justo. Proin feugiat eros sit amet lacus dictum, a pulvinar diam egestas. Mauris eleifend, ante sit amet suscipit dictum,
                p hasellus sagittis elit urna, nec molestie diam tempus eu. Morbi eros mi, imperdiet elementum placerat non, sollicitudin sit amet justo. Proin feugiat eros sit amet lacus dictum, a pulvinar diam egestas. Mauris eleifend, ante sit amet suscipit dictum
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")  
                    h2.mb-4 Seguridad
                    p Phasellus sagittis elit urna, nec molestie diam tempus eu. Morbi eros mi  

                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")  
                    h2.mb-4 Mejores Destinos
                    p Phasellus sagittis elit urna, nec molestie diam tempus eu. Morbi eros mi          
        
                .col-md-4
                    img(src="img/icono_precio.svg", class="img-fluid mb-4")  
                    h2.mb-4 Precio
                    p Phasellus sagittis elit urna, nec molestie diam tempus eu. Morbi eros mi          
        
            
        
    